<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>
	<akka>
		<hocon>
			<![CDATA[
				akka {  
					actor {
						provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
						serializers {
								wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
						}
						serialization-bindings {
							  "System.Object" = wire
						}
					}
					loglevel=OFF
					stdout-loglevel=OFF
					remote {
						helios.tcp {
							transport-class = "Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote"
							applied-adapters = []
							transport-protocol = tcp
							port = 8998
							hostname = localhost
						}
					}
				}
			]]>
		</hocon>
	</akka>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>